@import url('https://fonts.googleapis.com/css2?family=Brygada+1918&family=Yuji+Boku&display=swap');

@font-face {
	font-family: Taranis;
	src: url(Taranis.ttf);
}

html {
    font-family: 'Brygada 1918', serif;
}

body {
    background: url("../images/fondopagina.jpg") no-repeat fixed;
    background-size: cover;
}

.jello {
    width: 1450px;
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(43, 43, 43, 0.2);
}

#relativeJello {
    position: relative;
    height: 1393px;
}

header {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: hsla(0, 0%, 0%, 0.6);
    border-radius: 6px;
}

header p img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav {
    background-color: rgba(0, 0, 0, 0.125);
    border-radius: 6px;
    height: 57px;
}

nav ul { 
    list-style-type: none;
    padding: 18px 0px 20px 0px;
    margin: 0px;
}

nav ul li {
    display: inline;
    padding: 15px;
    height: 35px;
    width: 50px;
    margin-right: 10px;
    border-radius: 6px;
    padding: 22px 15px 17px 15px;
}

nav ul li a {
    color: rgba(255, 255, 255, 0.7);
    border-bottom: none;
    text-decoration: none;
    line-height: 25px;
    padding-left: 28px;
    background-size: 25px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 30px;
}

nav ul li:hover {
    background-color: rgba(255, 255, 255, 0.125);
}

#displayflex {
    background-image: url(../images/personaje_icon.png);
}

#absolute {
    background-image: url(../images/enemigo_icon.png);
}

#displaygrid {
    background-image: url(../images/aldeano_icon.png);
}

#displaytable {
    background-image: url(../images/clave_icon.png);
}

#float {
    background-image: url(../images/localizacion_icon.png);
}

.icon {
    width: 40px;
    height: 40px;
    margin-bottom: 0px;
}

footer {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    border-radius: 6px;
    color: #FFFFFF;
    clear: right;
}

.elemento {
    vertical-align: bottom;
}

#flex {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

#flex p {
    width: 463px;
    height: 134px;
    font-family: 'Yuji Boku', serif;
    background-size: cover;
    font-size: 2.3rem;
    color: rgba(255, 255, 255, 0.7);
    padding-left: 5px;
    border-radius: 6px;
    margin: 4px;
    background-color: rgba(0, 0, 0, 0.3);
}

#beidou {
    background-image: url(../images/beidou_icon.png);
    order: 0;
}

#yanfei {
    background-image: url(../images/yanfei_icon.png);
    order: 7;
}

#ayaka {
    background-image: url(../images/ayaka_icon.png);
    order: 4;
}

#hutao {
    background-image: url(../images/hu-tao_icon.png);
    order: 6;
}

#eula {
    background-image: url(../images/eula_icon.png);
    order: 3;
}

#jean {
    background-image: url(../images/jean_icon.png);
    order: 9;
}

#mona {
    background-image: url(../images/mona_icon.png);
    order: 11;
}

#raiden {
    background-image: url(../images/raiden_icon.png);
    order: 1;
}

#noelle {
    background-image: url(../images/noelle_icon.png);
    order: 8;
}

#sucrose {
    background-image: url(../images/sucrose_icon.png);
    order: 10;
}

#ganyu {
    background-image: url(../images/ganyu_icon.png);
    order: 5;
}

#fischl {
    background-image: url(../images/fischl_icon.png);
    order: 2;
}

#table {
    display: table;
    border-spacing: 20px;
}

#row1, #row2, #row3, #row4, #row5, #row6 {
	display: table-row;
}

#table p {
    width: 463px;
    height: 135px;
    display: table-cell;
    background-color: rgba(0, 0, 0, 0.3);
    background-size: cover;
    font-size: xx-large;
    padding-left: 5px;
    border-radius: 6px;
    color: rgba(255, 255, 255, 0.7);
    vertical-align: middle;
}

#table h1 {
    left: 500px;
}

h1 {
    font-family: Taranis, serif;
    font-size: 2.5em;
    text-align: center;
    position: relative;
    color: rgba(255, 255, 255, 0.75);
}

h2 {
    font-family: Taranis, serif;
    font-size: xx-large;
    text-align: center;
    position: relative;
    color: rgba(255, 255, 255, 0.65);
}

#armas {
    text-align: center;
    padding-bottom: 15px;
}

#mandoble {
    background-image: url(../images/mandoble.png);
}

#lanza {
    background-image: url(../images/lanza.png);
}

#catalizador {
    background-image: url(../images/catalizador.png);
}

#espada {
    background-image: url(../images/espada.png);
}

#arco {
    background-image:url(../images/arco.png); 
}

#artefactos {
    text-align: center;
    padding-bottom: 15px;;
}

#flor {
    background-image: url(../images/flor.png);
}

#pluma {
    background-image: url(../images/pluma.png);
}

#arenas {
    background-image: url(../images/arenas.png);
}

#caliz {
    background-image: url(../images/caliz.png);
}

#tiara {
    background-image: url(../images/tiara.png);
}

#clave {
    text-align: center;
    padding-bottom: 15px;
}

#garra {
    background-image: url(../images/garra.png);
}

#cola {
    background-image: url(../images/cola.png);
}

#fragmento {
    background-image: url(../images/fragmento.png);
}

#rama {
    background-image: url(../images/rama.png);
}

#valentia {
    background-image: url(../images/valentia.png);
}

.sectionChilde {
    border-radius: 6px;
    position: absolute;
    width: 44.6%;
    right: 25%;
    background-color: rgba(0, 0, 0, 0.3);
    margin-right: 10px;
}

.sectionAzhdaha {
    border-radius: 6px;
    position: absolute;
    width: 28%;
    background-color: rgba(0, 0, 0, 0.3);
    margin-right: 10px;
    left: 1%;
}

.stormBoreas {
    border-radius: 6px;
    position: absolute;
    right: 0%;
    width: 24%;
    background-color: rgba(0, 0, 0, 0.3);
    right: 1%;
}

.stormBoreas img {
    width: 100%;
}

#articleSignora {
    border-radius: 6px;
    position: absolute;
    width: 73.3%;
    top: 62%;
    left: 1%;
    background-color: rgba(0, 0, 0, 0.3);
}

.absFooter {
    position: absolute;
    width: 97.3%;
    top: 1318px;
}

#dvalin {
    padding-bottom: 20px;
}

#articleSignora h2 {
    margin-top: 5px;
    margin-bottom: 7px;
    padding-bottom: 3px;
}

.sectionAzhdaha h2 {
    margin-top: 5px;
}

.sectionChilde h2 {
    margin-top: 5px;
}

#grid {
    display: grid;
    background-color: hsla(0, 0%, 0%, 0.2);
}

#grid article {
    background-size: cover;
    font-size: 1.3em;
    color: rgba(255, 255, 255, 0.7);
    padding-left: 5px;
    border-radius: 6px;
    margin: 4px;
    background-color: rgba(0, 0, 0, 0.3);
}

#grid article a {
    color: #a4d0ff;
    text-decoration: none;
}

#grid article h3 {
    font-family: 'Yuji Boku', serif;
    margin-top: 0%;
    margin-bottom: 0.1em;
}

#xiao {
    position: relative;
    grid-column-start: 42;
    grid-column-end: 59;
    grid-row-start: 1;
    grid-row-end: 1;
}

#xiao img {
    border-radius: 6px;
    position: absolute;
    top: 0px;
    right: 0px;
}

#razor {
    position: relative;
    grid-column-start: 19;
    grid-column-end: 42;
    grid-row-start: 1;
    grid-row-end: 1;
}

#razor img {
    border-radius: 6px;
    position: absolute;
    top: 0px;
    right: 0px;
}

#zhongli {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 19;
    grid-row-start: 1;
    grid-row-end: 1;
}

#zhongli img {
    position: absolute;
    top: 0px;
    right: 0px
}

#venti {
    position: relative;
    grid-column-start: 23;
    grid-column-end: 39;
    grid-row-start: 2;
    grid-row-end: 2;
}

#venti img {
    position: absolute;
    top: 0px;
    right: 0px;
}

#kaeya {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 23;
    grid-row-start: 2;
    grid-row-end: 2;
}

#kaeya img {
    border-radius: 6px;
    position: absolute;
    top: 0px;
    right: 0px;
}

#thoma {
    position: relative;
    grid-column-start: 39;
    grid-column-end: 59;
    grid-row-start: 2;
    grid-row-end: 2;
}

#thoma img {
    border-radius: 6px;
    position: absolute;
    top: 0px;
    right: 0px;
}

.float {
    float: right;
    width: 733px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.3);
    margin: 0px 31px 10px 5px;
}

.float h2 {
    margin-bottom: 1%;
    margin-top: 1%
}

.lista h2 {
    margin-top: 4.8%;
}

.lista {
    height: 456px;
    font-size: 1.5em;
    width: 43%;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.3);
    margin: 5px 5px 10px 31px;
}

.lista h2 {
    padding-top: 5px;
}

.ciudad {
    list-style: none;
}

.ciudad::before {
    content: '';
    display: inline-block;
    background-size: 20px;
    height: 20px;
    width: 20px;
    background-image: url(../images/ciudad_icon.png);
}

.dominio {
    list-style: none;
    margin-left: -14px;
}

.dominio::before {
    margin-right: 5px;
    content: '';
    display: inline-block;
    background-size: 20px;
    height: 20px;
    width: 20px;
    background-image: url(../images/mazmorra_icon.png);
}

.fotos {
    clear: right;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.3);
}

.fotos h3{
    font-family: 'Yuji Boku', serif;
    font-size: 2em;
    color:rgba(255, 255, 255, 0.7);
    text-align: center;
    padding-top: 10px;
}

.fotos img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.audio {
    position: fixed;
    bottom: 0px;
}

audio {
    width: 1448px;
    height: 30px;
}

.ciudad a {
    color:  #cea4ff;
    text-decoration: none
}

.dominio a {
    color: #a4d0ff;
}

.tablahtml {
    padding: 1px 40px 10px 40px;
    margin-left: 25%;
    margin-right: 25%;
    color: white;
    clear: right;
    margin-top: 10px;
    border-radius: 6px;
    background-color: hsla(0, 0%, 0%, 0.4);
}

table {
    background-color: rgba(99, 98, 98, 0.7);
    border-collapse: collapse;
    border: 1px solid white;
}

td {
    border: 1px solid white;
    border-collapse: collapse;
}

video {
    margin: 0px 5px 0px 5px;
}